jupyterlab==2.0.1
numpy==1.15.1
tifffile==0.12
scikit-image==0.14.0
opencv-python==3.4.2.16
matplotlib==3.0
mahotas==1.4.4
scipy==1.1.0
seaborn==0.9
pandas==0.19.2
keras==2.1.3
tensorflow==1.13.1
psutil==5.0.0
